html,
body {
       background-color: #f5f7fa;
       font-size: 12px;
       font-family: sans-serif, Arial;
       fill: white;
       width: 100%;
       height: 100%;
       margin: 0 auto;
   }

.headerDiv {
     font-size: 20px;
     width: 100%;
     background-color: #1D3649;
     color: #e7e9f7;
}

.resultsLink {
  color: #000000;
}

.gitHeader {
  float: right;
  font-size: 20px;
  margin-right: 5px;
}

a {
  color: #e7e9f7;
}

a:hover {
  color: #d9dcf2;
}

#inputFormDiv {
  width: 50%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

nav ul{
  height:200px;
  width:85%;
  overflow-y:scroll;
}

h2 {
  color: #e7e9f7;
  background-color: #1c496d;
  border: 2px solid #1D3649;
}

.row {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-left: -15px;
  margin-right: -15px;
  border: 2px solid #eef1f6;
}

.col-1,
.col-2,
.col-3 {
  width: 24%;
  display: table-cell;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #eef1f6;
  float:left;
}

#redirectDiv,
#redirectDiv2 {
  float: right;
}
