html,
body {
       background-color: #1b2834;
       font: 12px Arial;
       fill: white;
       width: 100%;
       height: 100%;
       margin: 0 auto;
       text-align: center;
   }

a {
     color: #e7e9f7;
   }

a:hover {
     color: #d9dcf2;
   }

.headerDiv {
     font-size: 20px;
     width: 100%;
     background-color: #1D3649;
     color: #e7e9f7;
     text-align: left;
}

.gitHeader {
  float: right;
  font-size: 20px;
  margin-right: 5px;
  text-align: right;
}

.rssForm {
  width: 90%;

  margin: 0 auto;
  border: outset;
  border-width: 3px;
  border-color: #deedf7;
  background-color: #8c9696;

}

#inputKeywordsForm,
#inputFeedsForm {
  background-color: #1c496d;

}

#loggingDiv {
  float: left;
  width: 50%;
}

nav ul,
nav label{
  height:200px;
  width:85%;
  overflow-y:scroll;
}

ul li {
  color: #FFFFFF;
}

h1, h2 {
  color: #e3ecec;
  text-shadow: 2px 2px #424747;
}

.row {

  width: 100%;
  display: table;
  table-layout: fixed;
  margin-left: -15px;
  margin-right: -15px;
}

.bottomRow {
  clear: both;
  height: 100px;
}

.col-1,
.col-2,
.col-3 {
  height: 100%;
  width: 24%;
  display: table-cell;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

#loggingDiv,
#redirectDiv,
#redirectDiv2 {
  float: right;
}

#startButton {
  position: relative;
}

#consoleScroll {
  overflow-y: scroll;
}

#leftCol {
  float: left;
  width: 50%;
}

#rightCol {
  float: right;
  width: 50%;
}
